<div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <b-field>
          <b-input
                  :placeholder="$t('search')"
                  type="search"
                  icon="magnify"
                  v-model="search">

          </b-input>
          <p class="control">
            <button class="button is-info" @click="find">
              {{$t('search')}}
            </button>
          </p>
        </b-field>
        <b-table :data="comments" paginated="paginated" narrowed="" :loading="loading" per-page="10">
          <template slot-scope="props">
            <b-table-column field="id" label="ID" width="40" sortable="sortable" numeric="numeric">
              {{props.row.id}}
            </b-table-column>
            <b-table-column field="post_id" label="Post" sortable="sortable">
              {{ props.row.post_id }}
            </b-table-column>
            <b-table-column field="text" label="text" sortable="sortable">
              {{ props.row.text }}
            </b-table-column>
            <b-table-column custom-key="actions">
              <button class="button is-warning" @click="edit(props.row)">
                <b-icon icon="account-edit" size="is-small"></b-icon></button>
              <button class="buttonis-danger" @click="remove(props.row)">
                <b-icon icon="account-remove" size="is-small"></b-icon>
              </button>
            </b-table-column>
          </template>
        </b-table>
      </article>
    </div>
  </div>
</div>
