<div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4 class="title text-center">{{ $t('puzzles') }}</h4>
        <Can :do="permissions.CREATE_PUZZLE">
        <b-field>
            <p class="control">
              <button class="button is-success" @click="showSettingsModal()">
                {{ $t('add') }}
              </button>
            </p>
          </b-field>
        </Can>
        <b-table :data="puzzles" paginated narrowed :loading="loading" per-page="10">
          <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
            {{ props.row.id }}
          </b-table-column>
          <b-table-column field="text" label="Text" sortable v-slot="props">
            {{ props.row.text }}
          </b-table-column>
          <b-table-column field="translate" label="translate" sortable v-slot="props">
            {{ props.row.translate }}
          </b-table-column>
          <b-table-column custom-key="actions" v-slot="props">
            <Can :do="permissions.UPDATE_PUZZLE">
              <button class="button is-warning is-small" @click="edit(props.row)">
                <b-icon icon="pencil" size="is-small"></b-icon>
              </button>
            </Can>
            <Can :do="permissions.DELETE_PUZZLE">
              <button class="button is-danger is-small ml-1" @click="remove(props.row)">
                <b-icon icon="close-circle" size="is-small"></b-icon>
              </button>
            </Can>
          </b-table-column>
        </b-table>
      </article>
    </div>
  </div>
  <b-modal :active.sync="isComponentModalActive" has-modal-card="has-modal-card">
    <div class="modal-card" style="width: 400px">
      <section class="modal-card-body">
        <b-field label="На русском">
          <b-input type="textarea" v-model="edited.text"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="На нерусском">
          <b-input type="textarea" v-model="edited.translate"></b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="isComponentModalActive = false">
          {{ $t('close') }}
        </button>
        <button class="button is-primary" @click="addPuzzle()">
          {{ $t('save') }}
        </button>
      </footer>
    </div>
  </b-modal>
</div>
