<div class="tile is-ancestor box">
  <div class="tile is-parent">
    <article class="tile is-child">
      <section>
        <b-field label="name"></b-field>
        <b-field label="period"></b-field>
        <b-field label="cost"></b-field>
        <b-field label="cost_per_month"></b-field>
        <p class="control">
          <button @click="save()" class="button is-success">{{ $t('save') }}</button>
          <button @click="back()" class="button is-light">{{ $t('back') }}</button>
        </p>
      </section>
    </article>
  </div>
</div>
