<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <b-field :label="$tc('title')" :message="errors.title" :type="{ 'is-danger': errors.title }">
        <b-input v-model="post.title" required="required" @input="errors.title = null"></b-input>
      </b-field>
      <b-field :label="$tc('preview')" :message="errors.announce" :type="{ 'is-danger': errors.announce }">
        <b-input v-model="post.announce" type="textarea" @input="errors.announce = null"></b-input>
      </b-field>
      <b-field :label="$tc('content')" :message="errors.content" :type="{ 'is-danger': errors.content }">
        <editor v-model="post.content"
                @input="errors.content = null"
                api-key="rcqs1z9zxbqb3zpprppyqw7igixy286nzmmuxuhrqegf1hrp"
                :init="{
                  file_browser_callback_types: 'file image media',
                  automatic_uploads: true,
                  paste_data_images: true,
                  images_upload_url: '/handleidingen/upload',
                  images_upload_credentials: true,
                  height: 500,
                  menubar: false,
                   plugins: [
                     'imagetools image advlist autolink lists link image charmap print preview anchor',
                     'searchreplace visualblocks code fullscreen',
                     'insertdatetime media table paste code help wordcount'
                   ],
                   toolbar:
                     'image insertfile |  undo redo | formatselect | bold italic backcolor | \
                     alignleft aligncenter alignright alignjustify | \
                     bullist numlist outdent indent | removeformat | help'
       }"
        />
      </b-field>
      <b-field :label="$tc('category')" :message="errors.categoryId" :type="{ 'is-danger': errors.categoryId }">
        <b-select :placeholder="$tc('selectCategory')" v-model="post.category" @input="errors.categoryId = null">
          <option v-for="category in categories" :value="category" :key="category.id">{{ category.title }}</option>
        </b-select>
      </b-field>
      <div class="field">
        <b-checkbox v-model="post.comment_status" true-value="1" false-value="0">
          {{ $t('allowComments') }}
        </b-checkbox>
      </div>
      <div class="field">
        <b-checkbox v-model="post.status" true-value="1" false-value="0">
          {{ $t('published') }}
        </b-checkbox>
      </div>
      <b-field label="seotitle">
        <b-input v-model="post.seotitle"></b-input>
      </b-field>
      <b-field label="seodescription">
        <b-input v-model="post.seodescription" type="textarea"></b-input>
      </b-field>
      <b-field label="keywords">
        <b-input v-model="post.keywords" type="textarea"></b-input>
      </b-field>
      <p class="control">
        <button class="button is-success mr-1" @click="save()">
          {{ $t('save') }}
        </button>
        <button class="button is-light" @click="back()">{{ $t('back') }}</button>
      </p>
    </div>
  </div>
</div>
