<div class="tile is-parent">
  <article class="tile is-child box">
    <h4 class="title text-center">{{ $t('passings') }}</h4>
    <b-field> </b-field>
    <b-table
      :data="entities"
      paginated
      narrowed
      :loading="loading"
      per-page="20"
      detailed
      :has-detailed-visible="(row, index) => row.errors.length > 0"
      detail-key="_id">
      <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
        {{ props.row.getId() }}
      </b-table-column>
      <b-table-column field="asset.title" label="Asset" sortable searchable v-slot="props">
        {{ props.row.asset.title }}
      </b-table-column>
      <b-table-column field="user.login" label="User" sortable searchable v-slot="props">
        <router-link :to="{ name: 'user', params: { id: props.row.user.id }}">
          {{ props.row.user.login }}
        </router-link>
      </b-table-column>
      <b-table-column field="completed" label="Completed" sortable v-slot="props">
        <b-tag :type="tagClass(props.row.completed)">{{props.row.completed}}</b-tag>
      </b-table-column>
      <b-table-column field="percent" label="Percent" sortable v-slot="props">
        {{ props.row.percent }}
      </b-table-column>
      <b-table-column field="errors" label="Errors" sortable v-slot="props">
        <span :class="{'danger': props.row.errors.length > 0}">{{ props.row.errors.length }}</span>
      </b-table-column>
      <b-table-column field="formattedTime" label="Time" sortable v-slot="props">
        {{ props.row.formattedTime }}
      </b-table-column>
      <b-table-column field="created" label="Created" sortable v-slot="props">
        {{ props.row.created }}
      </b-table-column>
      <b-table-column custom-key="actions" v-slot="props">
        <Can :do="permissions.UPDATE_PASSING">
          <button class="button is-warning is-small" @click="edit(props.row)">
            <b-icon icon="pencil" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do="permissions.DELETE_PASSING">
          <button class="button is-danger is-small ml-1" @click="remove(props.row)">
            <b-icon icon="close-circle" size="is-small"></b-icon>
          </button>
        </Can>
      </b-table-column>
      <template slot="detail" slot-scope="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <b-taglist>
                  <b-tag type="is-info"
                         v-for="error in props.row.errors">{{error}}</b-tag>
              </b-taglist>
            </div>
          </div>
        </article>
      </template>
    </b-table>
  </article>
  <b-modal :active.sync="isModalFormActive" has-modal-card="has-modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ modalTitle }}</p>
      <button
        type="button"
        class="delete"
        @click="closeModalForm()" />
    </header>
    <div class="modal-card" style="width: 400px">
      <b-loading :is-full-page="false" :active="loadingModal" :can-cancel="true"></b-loading>
      <section class="modal-card-body">
        <b-field label="Percent">
          <b-input type="text" v-model="edited.percent"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Completed">
          <b-checkbox v-model="edited.completed"></b-checkbox>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModalForm()">
          {{ $t('close') }}
        </button>
        <button class="button is-primary" @click="save()">
          {{ $t('save') }}
        </button>
      </footer>
    </div>
  </b-modal>
</div>
