<div>
  <div class="columns">
    <div class="column is-12 content">
      {{ cleartext }}
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <b-tabs>
        <template v-for="(sentence, index) in sentences">
          <b-tab-item :label="index.toString()" :selected="index == 0">
            <div class="columns is-multiline" style="padding-top: 10px;">
              <ItemComponent
                v-for="(word, index) in sentence"
                :word="word"
                :index="index"
                @remove="removeWord"
                @add="addWord"
              ></ItemComponent>
            </div>
          </b-tab-item>
        </template>
      </b-tabs>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <button class="button is-primary" @click="$emit('update')">Сохранить</button>
    </div>
  </div>
</div>
