<div class="columns">
  <div class="column is-6">
    <div class="tile is-child box" style="position: relative;">
      <vue-progress-bar></vue-progress-bar>
      <p v-html="output" class="content"></p>
      <div>
        <template v-for="extra in extras">
          <div class="col-md-6">
            <p class="pointer">
              <span v-on:mouseover="showExtra(extra)" v-on:mouseout="clearExtra">{{ extra.orig }}</span>
              -
              {{ extra.extra }}
            </p>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <textarea
      style="height: 280px; width: 100%;"
      class="tile is-parent content"
      id="transarea"
      :placeholder="$t('translate')"
      v-model="input"
      v-on:input="separate"
    ></textarea>
    <button @click="clear" class="button is-primary">{{ $t('clear') }}</button>
  </div>
</div>
