<article class="tile is-child box">
  <div class="tile is-parent">
    <Can :do="permissions.CREATE_PAGE">
      <a class="button is-success" @click="add">Добавить</a>
    </Can>
    <a class="button is-success" @click="find">Найти</a>
  </div>
  <b-table :data="pages" paginated narrowed :loading="loading" per-page="10">
    <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
      {{ props.row.id }}
    </b-table-column>

    <b-table-column field="url" label="url" sortable v-slot="props">
      {{ props.row.url }}
    </b-table-column>

    <b-table-column field="title" label="title" sortable v-slot="props">
      {{ props.row.title }}
    </b-table-column>

    <b-table-column field="description" label="description" sortable v-slot="props">
      {{ props.row.description }}
    </b-table-column>

    <b-table-column field="keywords" label="keywords" sortable v-slot="props">
      {{ props.row.keywords }}
    </b-table-column>

    <b-table-column custom-key="actions" v-slot="props">
      <Can :do="permissions.UPDATE_PAGE">
        <button class="button is-warning" @click="edit(props.row)">
          <b-icon icon="account-edit" size="is-small"></b-icon>
        </button>
      </Can>
      <Can :do="permissions.DELETE_PAGE">
        <button class="button is-danger" @click="remove(props.row)">
          <b-icon icon="account-remove" size="is-small"></b-icon>
        </button>
      </Can>
    </b-table-column>
  </b-table>
</article>
