<div class="tile is-ancestor box">
  <div class="tile is-parent">
    <article class="tile is-child">
      <section>
        <b-field label="name">
          <b-input v-model="plan.name"></b-input>
        </b-field>
        <b-field label="period">
          <b-input v-model="plan.period"></b-input>
        </b-field>
        <b-field label="cost">
          <b-input v-model="plan.cost"></b-input>
        </b-field>
        <b-field label="cost_per_month">
          <b-input v-model="plan.cost_per_month"></b-input>
        </b-field>
        <p class="control">
          <button class="button is-success" @click="save()">{{ $t('save') }}</button>
          <button class="button is-light" @click="back()">{{ $t('back') }}</button>
        </p>
      </section>
    </article>
  </div>
</div>
