<div class="columns">
  <div class="column is-4 asset-column">
    <div class="box">
      <b-loading :is-full-page="false" :active="assetsLoading" :can-cancel="true"></b-loading>
      <b-tabs>
        <b-tab-item :label="$t('words')">
          <button class="button is-small" style="margin: 10px 0;" @click="addAsset(1)">
            {{$t('add')}}
          </button>
          <ul>
            <draggable
                    group="1"
                    :list="words"
                    @start="drag=true"
                    @end="drag=false"
                    @change="updateAssetOrder"
                    handle=".handle">
              <AssetComponent
                      v-for="(word, index) in words"
                      :item="word"
                      :key="index"
                      @edit="assetEdit"
                      @remove="removeAsset">
              </AssetComponent>
            </draggable>
          </ul>
        </b-tab-item>
        <b-tab-item :label="$t('sentences')">
          <button class="button is-small" style="margin: 10px 0;" @click="addAsset(2)">
            {{$t('add')}}
          </button>
          <ul>
            <draggable
                    group="1"
                    :list="sentences"
                    @start="drag=true"
                    @end="drag=false"
                    @change="updateAssetOrder"
                    handle=".handle">
              <AssetComponent
                v-for="(sentence, index) in sentences"
                :item="sentence"
                :key="index"
                @edit="assetEdit"
                @remove="removeAsset">
              </AssetComponent>
            </draggable>
          </ul>
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
  <div class="column is-4 cards-column">
    <div class="box">
      <b-loading :is-full-page="false" :active="cardsLoading" :can-cancel="true"></b-loading>
      <draggable
              group="1"
              :list="cards"
              @start="drag=true"
              @end="drag=false"
              @change="updateCardOrder"
              handle=".handle">
        <CardComponent
                v-for="(card, index) in cards"
                :card="card"
                :index="index"
                :key="card.id"
                @remove="removeCard">
        </CardComponent>
      </draggable>
    </div>
  </div>
  <div class="column is-4 translate-column">
    <div class="box">
      <div class="block">
        <p class="control has-addons">
          <input class="input" type="text" placeholder="rus" v-model="text" />
          <a :class="['button', {'is-loading': searchloaded }]" @click="search">{{$t('search')}}</a>
          <a :class="['button', {'is-loading': sentencesloaded }]" @click="searchSentences()">{{$t('inSentences')}}</a>
        </p>
      </div>
      <div class="block">
        <translate
          v-for="(card, index) in translates"
          :card="card"
          :index="index"
          :key="card.getId()"
          @increment="increment"
          @remove="removeTranslate"
        ></translate>
      </div>
    </div>
  </div>
  <b-modal :active.sync="isComponentModalActive" @close="close">
    <div class="box">
      <div class="translate-section">
        <p>
          Asset id={{editedAsset.id}} basic={{editedAsset.basic}} type={{editedAsset.type}} level={{editedAsset.level}}
          favorite={{editedAsset.favorite}}
        </p>
        <div class="b-field">
          <b-input type="text" placeholder="text" v-model="editedAsset.title" style="width: 380px;"></b-input>
          <b-input type="text" placeholder="text" v-model="editedAsset.level" style="width: 80px;"></b-input>
          <p class="control">
            <button class="button is-success" @click="updateTitle">
              {{$t('save')}}
            </button>
          </p>
          <p class="control">
            <button class="button is-warning" @click="close">
              {{$t('cancel')}}
            </button>
          </p>
        </div>
      </div>
    </div>
  </b-modal>
</div>
