<div class="tile is-parent">
  <article class="tile is-child box">
    <h4 class="title">
      {{ $t('roles') }}
      <b-icon
        icon="autorenew"
        size="is-small"
        :class="['pointer', 'is-pulled-right', {'rotating': loading}]"
        @click.native="reload()">
      </b-icon>
    </h4>
    <b-field>
      <Can :do='permissions.CREATE_ROLE'>
        <button class="button is-success" @click="showModalForm()">{{ $t('add') }}</button>
      </Can>
    </b-field>
    <b-table
      :data="entities"
      v-bind="tableProperties"
      v-on="tableEvents"
      :detailed="true"
      detail-key="_id">
      <b-table-column field="role.id" label="ID" width="80" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.getId() }}
      </b-table-column>

      <b-table-column field="role.name" label="Title" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.name }}
      </b-table-column>

      <b-table-column field="role.slug" label="Slug" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.slug }}
      </b-table-column>

      <b-table-column field="role.description" label="Description" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.description }}
      </b-table-column>

      <b-table-column custom-key="actions" v-slot="props">
        <Can :do='permissions.UPDATE_ROLE'>
          <button class="button is-warning is-small"
                  @click="edit(props.row)">
            <b-icon icon="pencil" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do='permissions.DELETE_ROLE'>
          <button class="button is-danger is-small ml-1" @click="remove(props.row)">
            <b-icon icon="close-circle" size="is-small"></b-icon>
          </button>
        </Can>
      </b-table-column>

      <template #detail="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <b-taglist>
                <Can :do='permissions.UPDATE_ROLE'>
                  <b-tag type="is-info"
                         :closable="true"
                         @close="removePermission(props.row, permission)"
                         v-for="permission in props.row.permissions">{{ permission.name }}
                  </b-tag>
                </Can>
                <Can not :do='permissions.UPDATE_ROLE'>
                  <b-tag type="is-info"
                         v-for="permission in props.row.permissions">{{ permission.name }}
                  </b-tag>
                </Can>
              </b-taglist>
            </div>
          </div>
        </article>
      </template>
    </b-table>
  </article>
  <b-modal :active.sync="isModalFormActive" has-modal-card="has-modal-card">
    <div class="modal-card" style="width: 400px">
      <b-loading :is-full-page="false" :active="loadingModal" :can-cancel="true"></b-loading>
      <section class="modal-card-body">
        <b-field label="Title" :message="formErrors.name" :type="{'is-danger': formErrors.name}">
          <b-input type="text" v-model="edited.name" @input="formErrors.name = null"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Slug" :message="formErrors.slug" :type="{'is-danger': formErrors.slug}">
          <b-input type="text" v-model="edited.slug" @input="formErrors.slug = null"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Description" :message="formErrors.description" :type="{'is-danger': formErrors.description}">
          <b-input type="textarea" v-model="edited.description" @input="formErrors.description = null"></b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModalForm()">
          {{ $t('close') }}
        </button>
        <button class="button is-primary" @click="save()">
          {{ $t('save') }}
        </button>
      </footer>
    </div>
  </b-modal>
</div>
