<li class="columns">
  <p :class="['column', 'is-7', 'pointer', { info: item.id === activeAssetId }]" @click="load(item.id)">
    {{ item.level }}. {{ item.title }}<span class="text-success">({{ item.cards_count }})</span>
  </p>
  <p class="column control-block is-5">
    <b-button size="is-small" icon-right="circle-edit-outline" @click="$emit('edit', item)"></b-button>
    <b-button size="is-small" icon-right="eye-outline" @click="load(item.id)"></b-button>
    <b-button size="is-small" :loading="loaded" @click="forvo(item)">Forvo</b-button>
    <b-button class="is-danger" size="is-small" icon-right="close-circle" @click="$emit('remove', item)"></b-button>
  </p>
</li>
