<li class="columns">
  <p :class="['column', 'is-7', 'pointer', { info: selected }]" @click="load()">
    {{ item.level }}. {{ item.title }}<span class="text-success">({{ item.count }})</span>
  </p>
  <p class="column control-block is-5">
    <Can :do="permissions.UPDATE_ASSET">
      <b-button size="is-small" icon-right="circle-edit-outline" @click="$emit('edit', item)"></b-button>
    </Can>
    <Can :do="permissions.UPDATE_ASSET">
      <b-button size="is-small" icon-right="eye-outline" @click="load()"></b-button>
    </Can>
    <Can :do="permissions.UPDATE_ASSET">
      <b-button size="is-small" :loading="loaded" @click="forvo(item)">Forvo</b-button>
    </Can>
    <Can :do="permissions.DELETE_ASSET">
      <b-button class="is-danger" size="is-small" icon-right="close-circle" @click="$emit('remove', item)"></b-button>
    </Can>
    <Can :do="permissions.UPDATE_ASSET">
      <b-button class="handle" size="is-small" icon-right="cursor-move"></b-button>
    </Can>
  </p>
</li>
