<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <b-field label="url">
        <b-input v-model="post.url"></b-input>
      </b-field>

      <b-field :label="$t('title')">
        <b-input v-model="post.title"></b-input>
      </b-field>

      <b-field :label="$t('preview')">
        <b-input v-model="post.description" type="textarea"></b-input>
      </b-field>

      <b-field label="keywords">
        <b-input v-model="post.keywords" type="textarea"></b-input>
      </b-field>

      <p class="control">
        <button class="button  is-success" @click="save()">{{ $t('save') }}</button>
        <button class="button  is-light" @click="back()">{{ $t('back') }}</button>
      </p>
    </div>
  </div>
</div>
