<div class="tile is-ancestor box">
  <b-loading :is-full-page="false" :active="loading" :can-cancel="true"></b-loading>
  <div class="tile is-parent is-4">
    <article class="tile is-child">
      <b-datepicker v-model="date" inline="inline"></b-datepicker>
      <button class="button is-success" @click="save()">Сохранить</button>
      <button class="button is-light" @click="back()">Назад</button>
    </article>
  </div>
  <div class="tile is-parent is-8 is-vertical">
    <article class="tile is-child">
      <section>
        <b-field label="Login">
          <b-input v-model="user.login"></b-input>
        </b-field>
        <b-field label="E-mail">
          <b-input v-model="user.email"></b-input>
        </b-field>
        <b-field label="Name">
          <b-input v-model="user.name"></b-input>
        </b-field>
      </section>
    </article>
    <article class="tile is-child">
      <b-checkbox v-for="role in roles" v-model="user.roles" :native-value="role">
        {{ role.name }}
      </b-checkbox>
    </article>
  </div>
</div>
