<div class="columns" v-on:mouseover="$emit('show', item)" v-on:mouseout="$emit('clear')">
  <div class="column is-5">
    <p class="control">
      <input class="input" type="text" placeholder="object" v-model="item.object" />
    </p>
  </div>
  <div class="column is-5">
    <p class="control">
      <input class="input" type="text" placeholder="value" v-model="item.value" />
    </p>
  </div>
  <div class="column is-2">
    <b-button class="is-danger" size="is-small" icon-right="close-circle" @click="$emit('remove', index)"></b-button>
  </div>
</div>
