<div class="tile is-parent">
  <article class="tile is-child box">
    <h4 class="title text-center">{{ $t('assets') }}</h4>
    <Can :do="permissions.CREATE_ASSET">
      <b-field>
        <p class="control">
          <button class="button is-success" @click="showModalForm()">
            {{ $t('add') }}
          </button>
        </p>
      </b-field>
    </Can>
    <b-table
      :data="entities"
      v-bind="tableProperties"
      v-on="tableEvents"
      :has-detailed-visible="(row, index) => row.cards.count() > 0"
      detailed
      detail-key="id">
      <b-table-column field="asset.id" label="ID" width="320" sortable searchable v-slot="props">
        {{ props.row.id }}
      </b-table-column>

      <b-table-column field="asset.title" label="Title" sortable searchable v-slot="props">
        {{ props.row.title }}
      </b-table-column>

      <b-table-column field="asset.level" label="level" width="100" sortable searchable v-slot="props">
        <b-tag>{{ props.row.level }}</b-tag>
      </b-table-column>

      <b-table-column label="count" width="100" sortable searchable v-slot="props">
        <b-tag>{{ props.row.cards.count() }}</b-tag>
      </b-table-column>

      <b-table-column field="asset.type" label="Type" sortable searchable>
        <template slot="searchable" slot-scope="props">
          <b-select :placeholder="$tc('type')" v-model="props.filters['asset.category']">
            <option v-for="type in types" :value="type.value" :key="type.value">{{ type.label }}</option>
          </b-select>
        </template>
        <template slot="default" slot-scope="props">
          <b-tag>{{ props.row.stringType }}</b-tag>
        </template>
      </b-table-column>

      <b-table-column field="asset.basic" label="basic" sortable searchable v-slot="props">
        {{ props.row.basic }}
      </b-table-column>

      <b-table-column custom-key="actions" v-slot="props">
        <Can :do="permissions.UPDATE_ASSET">
          <button class="button is-warning is-small" @click="showDictionaryModal(props.row)">
            <b-icon icon="plus" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do="permissions.UPDATE_ASSET">
          <button class="button is-warning is-small ml-1" @click="edit(props.row)">
            <b-icon icon="pencil" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do="permissions.DELETE_ASSET">
          <button class="button is-danger is-small ml-1" @click="remove(props.row)">
            <b-icon icon="close-circle" size="is-small"></b-icon>
          </button>
        </Can>
      </b-table-column>

      <template slot="detail" slot-scope="props">
        <article class="media is-relative">
          <b-loading :active="isDetailsLoading" :can-cancel="true" :is-full-page="false"></b-loading>
          <div class="media-content">
            <div class="content">
                <draggable
                  group="1"
                  class="field is-grouped is-grouped-multiline"
                  :list="props.row.cards.all()"
                  @start="drag=true"
                  @end="drag=false"
                  @change="updateCardOrder($event, props.row)"
                  handle=".handle">
                  <div class="control handle pointer" v-for="card in props.row.cards.all()" @click="showCardModal(card)">
                    <b-taglist attached>
                      <b-tag type="is-dark" size="is-medium" @click="showCardModal(card)">{{card.value}}</b-tag>
                      <b-tag type="is-info" size="is-medium" @click="showCardModal(card)">{{card.subject}}</b-tag>
                      <b-tag
                        type="is-warning"
                        size="is-medium"
                        closeType='is-danger'
                        closable
                        @close.stop="removeCard(props.row, card)"></b-tag>
                    </b-taglist>
                  </div>
                </draggable>
            </div>
          </div>
        </article>
      </template>
    </b-table>
  </article>
  <b-modal :active.sync="isModalFormActive" has-modal-card="has-modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ modalTitle }}</p>
      <button
        type="button"
        class="delete"
        @click="closeModalForm()" />
    </header>
    <div class="modal-card" style="width: 600px">
      <b-loading :is-full-page="false" :active="loadingModal" :can-cancel="true"></b-loading>
        <section class="modal-card-body">
          <b-field :label="$tc('title')"
                   :type="formErrors && formErrors.title ? 'is-danger' : null"
                   :message="formErrors && formErrors.title ? formErrors.title : null"
          >
            <b-input type="text"
                     :placeholder="$t('title')"
                     v-model="edited.title"
                     style="width: 380px;">
            </b-input>
          </b-field>
          <b-field :label="$tc('level')"
                   :type="formErrors && formErrors.level ? 'is-danger' : null"
                   :message="formErrors && formErrors.level ? formErrors.level : null"
          >
            <b-input type="text" :placeholder="$t('level')" v-model="edited.level" style="width: 80px;"></b-input>
          </b-field>
          <b-field :label="$tc('type')"
                   :type="formErrors && formErrors.type ? 'is-danger' : null"
                   :message="formErrors && formErrors.type ? formErrors.type : null"
          >
            <b-select v-model="edited.type">
              <option
                v-for="type in types"
                :value="type.value"
                :key="type.value">
                {{ $t(type.label) }}
              </option>
            </b-select>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeModalForm()">
            {{ $t('close') }}
          </button>
          <button class="button is-primary" @click="save()">
            {{ $t('save') }}
          </button>
        </footer>
    </div>
  </b-modal>
  <b-modal :active.sync="isDictionaryModalActive" :asset="activeAsset" has-modal-card="has-modal-card">
    <header class="modal-card-head">
      <p v-if="activeAsset" class="modal-card-title">{{ $tc('add') }} в {{activeAsset.title}}</p>
      <button
        type="button"
        class="delete"
        @click="closeDictionaryModal()" />
    </header>
    <div class="modal-card" style="width: 600px">
      <b-loading :is-full-page="false" :active="loadingDictionaryModal" :can-cancel="true"></b-loading>
      <section class="modal-card-body">
        <div class="box">
          <div class="block">
            <p class="control has-addons">
              <input class="input" type="text" placeholder="rus" v-model="searchText" />
              <a :class="['button', {'is-loading': loadingDictionaryModal }]" @click="search()">{{$t('search')}}</a>
              <a :class="['button', {'is-loading': loadingDictionaryModal }]" @click="searchSentences()">{{$t('inSentences')}}</a>
            </p>
          </div>
          <div class="block">
            <translate
              v-for="(card, index) in translates"
              :card="card"
              :index="index"
              :key="card.getId()"
            ></translate>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeDictionaryModal()">
          {{ $t('close') }}
        </button>
      </footer>
    </div>
  </b-modal>
  <CardModalComponent :visible="isCardModalActive" :card="editedCard"></CardModalComponent>
</div>

