<article class="tile is-child box">
  <b-field>
    <b-input :placeholder="$t('search')" type="search" icon="magnify" v-model="search"> </b-input>
    <p class="control">
      <button class="button is-info" @click="find">
        {{ $t('search') }}
      </button>
    </p>
  </b-field>
  <b-table :data="comments" paginated narrowed :loading="loading" per-page="10">
    <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
      {{ props.row.id }}
    </b-table-column>
    <b-table-column field="post_id" label="Post" sortable v-slot="props">
      {{ props.row.post_id }}
    </b-table-column>
    <b-table-column field="text" label="text" sortable v-slot="props">
      {{ props.row.text }}
    </b-table-column>
    <b-table-column custom-key="actions" v-slot="props">
      <button class="button is-warning is-small" @click="edit(props.row)">
        <b-icon icon="pencil" size="is-small"></b-icon>
      </button>
      <button class="button is-danger is-small ml-1" @click="remove(props.row)">
        <b-icon icon="close-circle" size="is-small"></b-icon>
      </button>
    </b-table-column>
  </b-table>
</article>
