<div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4 class="title text-center">{{ $t('texts') }}</h4>
        <Can :do="permissions.CREATE_TEXT">
          <button class="button is-small" style="margin: 10px 0;" @click="showSettingsModal">
            {{ $t('add') }}
          </button>
        </Can>
        <b-table :data="texts" paginated narrowed :loading="loading" per-page="10">
          <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
            {{ props.row.id }}
          </b-table-column>
          <b-table-column field="level" label="level" sortable v-slot="props">
            {{ props.row.level }}
          </b-table-column>
          <b-table-column field="title" label="title" sortable v-slot="props">
            {{ props.row.title }}
          </b-table-column>
          <b-table-column field="description" label="description" sortable v-slot="props">
            {{ props.row.description }}
          </b-table-column>
          <b-table-column field="image" label="" width="90" v-slot="props">
            <img class="avatar-small" :src="props.row.image" />
          </b-table-column>
          <b-table-column custom-key="actions" v-slot="props">
            <Can :do="permissions.UPDATE_TEXT">
              <button class="button is-warning is-small" @click="edit(props.row)">
                <b-icon icon="pencil" size="is-small"></b-icon>
              </button>
            </Can>
            <Can :do="permissions.UPDATE_TEXT">
              <button class="button is-warning is-small ml-1" @click="setVisibility(props.row)">
                <b-icon :icon="icon(props.row)" size="is-small"></b-icon>
              </button>
            </Can>
            <Can :do="permissions.DELETE_TEXT">
              <button class="button is-danger is-small ml-1" @click="remove(props.row)">
                <b-icon icon="close-circle" size="is-small"></b-icon>
              </button>
            </Can>
          </b-table-column>
        </b-table>
      </article>
    </div>
  </div>
  <b-modal :active.sync="isComponentModalActive" @close="close">
    <div class="box" style="width: 1100px">
      <div class="columns">
        <div class="column">
          <p class="control">
            <input class="input" type="text" v-model="form.title" :placeholder="$t('title')" />
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <b-field :label="t('original')">
            <b-input type="textarea" v-model="form.origtext" style="height: 500px;"></b-input>
          </b-field>
        </div>
        <div class="columns is-6">
          <b-field :label="t('translate')">
            <b-input type="textarea" v-model="form.translate" style="height: 500px;"></b-input>
          </b-field>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button class="button is-success" @click="add">{{ $t('save') }}</button>
        </div>
      </div>
    </div>
  </b-modal>
</div>
