<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://placehold.it/128x128" alt="Image" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ item.name }}</strong>
          <small>№{{ item.user }}</small>
          <span>{{ item.subject }}</span>
          <br />
          {{ item.message }}
        </p>
      </div>
    </div>
  </article>
</div>
