<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <b-field :label="$t('title')">
        <b-input v-model="post.title"></b-input>
      </b-field>
      <b-field label="Анонс">
        <b-input v-model="post.anonse" type="textarea"></b-input>
      </b-field>

      <editor api-key="xqajoloqnmeovh9embntxbexkao8fyl1ca1rje0ygh1x981g"
              v-model="post.content"
              :init="{
        height: 500,
        menubar: false,
                 plugins: [
           'advlist autolink lists link image charmap print preview anchor',
           'searchreplace visualblocks code fullscreen',
           'insertdatetime media table paste code help wordcount'
         ],
        image_uploadtab: true,
        images_upload_url: 'postAcceptor.php',
        images_upload_base_path: '/some/basepath',
        images_upload_credentials: true,
        toolbar:
           'undo redo | image | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help'
      }" />

      <b-field :label="$t('category')">
        <b-select :placeholder="$t('selectCategory')" v-model="post.category_id">
          <option v-for="category in categories" :value="category.id" :key="category.id">
            {{ category.name }}
          </option>
        </b-select>
      </b-field>

      <div class="field">
        <b-checkbox v-model="post.comment_status" true-value="1" false-value="0">
          {{ $t('allowComments') }}
        </b-checkbox>
      </div>
      <div class="field">
        <b-checkbox v-model="post.status" true-value="1" false-value="0">
          {{ $t('published') }}
        </b-checkbox>
      </div>
      <b-field label="seotitle">
        <b-input v-model="post.seotitle"></b-input>
      </b-field>
      <b-field label="Анонс">
        <b-input v-model="post.seodescription" type="textarea"></b-input>
      </b-field>
      <b-field label="keywords">
        <b-input v-model="post.keywords" type="textarea"></b-input>
      </b-field>
      <p class="control">
        <button class="button is-success" @click="save()">{{ $t('save') }}</button>
        <button class="button is-light" @click="back()">{{ $t('back') }}</button>
      </p>
    </div>
  </div>
</div>
