<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <b-field :label="$t('title')">
        <b-input v-model="post.title"></b-input>
      </b-field>
      <b-field label="Анонс">
        <b-input v-model="post.anonse" type="textarea"></b-input>
      </b-field>
      <froala :tag="'textarea'" :config="config" v-model="post.content"></froala>
      <b-field :label="$t('category')">
        <b-select :placeholder="$t('selectCategory')" v-model="post.category_id">
          <option v-for="category in categories" :value="category.id" :key="category.id">
            {{ category.name }}
          </option>
        </b-select>
      </b-field>

      <div class="field">
        <b-checkbox v-model="post.comment_status" true-value="1" false-value="0">
          {{ $t('allowComments') }}
        </b-checkbox>
      </div>
      <div class="field">
        <b-checkbox v-model="post.status" true-value="1" false-value="0">
          {{ $t('published') }}
        </b-checkbox>
      </div>
      <b-field label="seotitle">
        <b-input v-model="post.seotitle"></b-input>
      </b-field>
      <b-field label="Анонс">
        <b-input v-model="post.seodescription" type="textarea"></b-input>
      </b-field>
      <b-field label="keywords">
        <b-input v-model="post.keywords" type="textarea"></b-input>
      </b-field>
      <p class="control">
        <button class="button is-success" @click="save()">{{ $t('save') }}</button>
        <button class="button is-light" @click="back()">{{ $t('back') }}</button>
      </p>
    </div>
  </div>
</div>
