<div class="tile is-parent">
  <b-loading :is-full-page="false" :active="loading" :can-cancel="true"></b-loading>
  <div class="tile is-child box">
    <b-field label="Title">
      <b-input type="text" v-model="textEntity.title" required></b-input>
    </b-field>
    <b-field label="Message">
      <b-input v-model="textEntity.text" type="textarea" maxlength="1000"></b-input>
    </b-field>
  </div>
  <div class="tile is-child box">
    <div class="block is-flex" v-if="textEntity.getId()">
      <b-button tag="router-link"
                class="mr-1"
                :to="{ name: 'text-tooltips', params: { id: textEntity.getId().toString() } }"
                type="is-link">
        Tooltips
      </b-button>
      <b-button tag="router-link"
                class="mr-1"
                :to="{ name: 'text-translate', params: { id: textEntity.getId() } }"
                type="is-link is-info">
        {{ $t('translate') }}
      </b-button>
      <b-button tag="router-link"
                class="mr-1"
                :to="{ name: 'tooltips', params: { id: textEntity.getId() } }"
                type="is-link is-warning">
        {{ $t('image') }}
      </b-button>
      <b-button tag="router-link"
                class="mr-1"
                :to="{ name: 'tooltips', params: { id: textEntity.getId() } }"
                type="is-link is-success">
        {{ $t('description') }}
      </b-button>
      <b-button tag="router-link"
                class="mr-1"
                :to="{ name: 'text-test', params: { id: textEntity.getId() } }"
                type="is-link">
        {{ $t('test') }}
      </b-button>
    </div>
  </div>
</div>

