<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <div class="header">Intro №{{ form.id }}</div>

      <froala :tag="'textarea'" :config="config" v-model="form.content"></froala>

      <b-field :label="$t('page')">
        <b-select :placeholder="$t('selectPage')" v-model="form.page">
          <option v-for="page in pages" :value="page" :key="page">
            {{ page }}
          </option>
        </b-select>
      </b-field>

      <b-field label="element">
        <b-input v-model="form.element"></b-input>
      </b-field>

      <b-field label="position">
        <b-select placeholder=" - " v-model="form.position">
          <option v-for="position in positions" :value="position" :key="position">
            {{ position }}
          </option>
        </b-select>
      </b-field>

      <b-field label="sort">
        <b-input v-model="form.sort"></b-input>
      </b-field>

      <b-field label="tooltipClass">
        <b-input v-model="form.tooltipClass"></b-input>
      </b-field>

      <div class="active">
        <b-checkbox v-model="form.active" true-value="1" false-value="0"> active</b-checkbox>
      </div>

      <p class="control">
        <button class="button  is-success" @click="save()">{{ $t('save') }}</button>
        <button class="button  is-light" @click="back()">{{ $t('back') }}</button>
      </p>
    </div>
  </div>
</div>
