<div class="tile is-parent">
  <b-loading :is-full-page="false" :active="loading" :can-cancel="true"></b-loading>
  <div class="tile is-child box">
    <div class="columns">
      <div class="column is-8">
        <p v-html="output"></p>
      </div>
      <div class="column is-4">
        <div class="box" style="margin: 5px;">
          <b-button size="is-small" @click="addTooltip()">
            {{ $t('add') }}
          </b-button>
          <extra-component
            v-for="(tooltip, index) in text.tooltips"
            :item="tooltip"
            :index="index"
            :key="index"
            v-on:show="showTooltips"
            v-on:clear="clearTooltips"
            v-on:remove="removeTooltip"
          ></extra-component>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <button class="button is-primary mr-1" @click="save()">{{ $t('save') }}</button>
        <b-button tag="router-link"
                  :to="{ name: 'edit-text', params: { id: text.getId().toString() } }"
                  type="is-link">
          {{ $t('back') }}
        </b-button>
      </div>
    </div>
  </div>
</div>
