<div>
  <div class="columns">
    <div class="column is-8">
      <div v-html="item.text"></div>
      <hr />
      <p v-html="output"></p>
    </div>
    <div class="column is-4">
      <div class="box" style="margin: 5px;">
        <button class="button is-small" style="margin: 10px 0;" @click="addExtra">
          Добавить
        </button>
        <extra
          v-for="(extra, index) in extras"
          :item="extra"
          :index="index"
          v-on:show="showExtra"
          v-on:clear="clearExtra"
          v-on:remove="removeExtra"
        ></extra>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <button class="button is-primary" @click="$emit('update')">Сохранить</button>
    </div>
  </div>
</div>
