<div class="tile is-parent">
  <article class="tile is-child box">
    <h4 class="title text-center">{{ $t('posts') }}</h4>
    <b-field>
      <Can :do="permissions.CREATE_POST">
        <button class="button is-success" @click="create()">{{ $t('add') }}</button>
      </Can>
    </b-field>
    <b-table
      :data="entities"
      v-bind="tableProperties"
      v-on="tableEvents">
      <b-table-column field="id" label="ID" width="40" :sortable="true" v-slot="props">
        {{ props.row.id }}
      </b-table-column>
      <b-table-column field="title" label="Title" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.title }}
      </b-table-column>
      <b-table-column field="category.name" label="Category" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.category.title }}
      </b-table-column>
      <b-table-column field="category.name" label="Autor" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.user.login }}
      </b-table-column>
      <b-table-column field="views" label="Views" :sortable="true" :centered="true" v-slot="props">
        {{ props.row.views }}
      </b-table-column>
      <b-table-column field="comments" label="comments" :sortable="true" :centered="true" v-slot="props">
        {{ props.row.comments.length }}
      </b-table-column>
      <b-table-column field="status" label="status" :sortable="true" :centered="true" v-slot="props">
        {{ props.row.status }}
      </b-table-column>
      <b-table-column field="created_at" label="created_at" :sortable="true" :centered="true" v-slot="props">
        <span class="light tag"> {{ new Date(props.row.created_at).toLocaleDateString() }}</span>
      </b-table-column>
      <b-table-column custom-key="actions" v-slot="props">
        <Can :do="permissions.UPDATE_POST">
          <button class="button is-warning is-small" @click="edit(props.row)">
            <b-icon icon="pencil" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do="permissions.DELETE_POST">
          <button class="button is-danger is-small ml-1" @click="remove(props.row)">
            <b-icon icon="close-circle" size="is-small"></b-icon>
          </button>
        </Can>
      </b-table-column>
    </b-table>
  </article>
</div>
