<div class="tile is-parent">
  <article class="tile is-child box">
    <h4 class="title text-center">{{ $t('permissions') }}</h4>
    <b-field>
      <Can :do='permissions.CREATE_PERMISSION'>
        <button class="button is-success" @click="showModalForm()">{{ $t('add') }}</button>
      </Can>
    </b-field>
    <b-table
      :data="entities"
      v-bind="tableProperties"
      v-on="tableEvents">
      <b-table-column field="permission.id" label="ID" width="80" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.getId() }}
      </b-table-column>

      <b-table-column field="permission.name" label="Title" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.name }}
      </b-table-column>

      <b-table-column field="permission.slug" label="Slug" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.slug }}
      </b-table-column>

      <b-table-column field="permission.description" label="Description" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.description }}
      </b-table-column>

      <b-table-column field="g.slug" label="Group" :sortable="true" :searchable="true" v-slot="props">
        {{ props.row.group.name }}
      </b-table-column>

      <b-table-column custom-key="actions" v-slot="props">
        <Can :do='permissions.UPDATE_PERMISSION'>
          <button class="button is-warning is-small" @click="edit(props.row)">
            <b-icon icon="pencil" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do='permissions.DELETE_PERMISSION'>
          <button class="button is-danger is-small ml-1" @click="remove(props.row)">
            <b-icon icon="close-circle" size="is-small"></b-icon>
          </button>
        </Can>
      </b-table-column>
    </b-table>
  </article>
  <b-modal :active.sync="isModalFormActive" has-modal-card="has-modal-card">
    <div class="modal-card" style="width: 400px">
      <b-loading :is-full-page="false" :active="loadingModal" :can-cancel="true"></b-loading>
      <section class="modal-card-body">
        <b-field label="Title" :message="formErrors.name" :type="{ 'is-danger': formErrors.name }">
          <b-input type="text" v-model="edited.name" @input="formErrors.name = null"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Slug" :message="formErrors.slug" :type="{ 'is-danger': formErrors.slug }">
          <b-input type="text" v-model="edited.slug" @input="formErrors.slug = null"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field :message="formErrors.groupId" :type="{ 'is-danger': formErrors.groupId }">
          <b-select placeholder="Select a group" expanded v-model="edited.groupId"
          @change="formErrors.groupId = null">
            <option
              v-for="group in groups"
              :value="group.getId()"
              :key="group.getId()">
              {{ group.name }}
            </option>
          </b-select>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Description">
          <b-input type="textarea" v-model="edited.description"></b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModalForm()">
          {{ $t('close') }}
        </button>
        <button class="button is-primary" @click="save()">
          {{ $t('save') }}
        </button>
      </footer>
    </div>
  </b-modal>
</div>
