<div class="tile is-parent">
  <article class="tile is-child box">
    <h4 class="title text-center">{{ $t('orders') }}</h4>
    <b-field>
      <Can :do="permissions.CREATE_PERMISSION_GROUP">
        <button class="button is-success" @click="showModalForm()">{{ $t('add') }}</button>
      </Can>
    </b-field>
    <b-field> </b-field>
    <b-table :data="entities" paginated narrowed :loading="loading" per-page="20">
      <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
        {{ props.row.getId() }}
      </b-table-column>
      <!-- MAKE COLUMNS HERE -->
      <b-table-column custom-key="actions" v-slot="props">
        <Can :do="permissions.UPDATE_PERMISSION_GROUP">
          <button class="button is-warning is-small" @click="edit(props.row)">
            <b-icon icon="pencil" size="is-small"></b-icon>
          </button>
        </Can>
        <Can :do="permissions.DELETE_PERMISSION_GROUP">
          <button class="button is-danger is-small ml-1" @click="remove(props.row)">
            <b-icon icon="close-circle" size="is-small"></b-icon>
          </button>
        </Can>
      </b-table-column>
    </b-table>
  </article>
  <b-modal :active.sync="isModalFormActive" has-modal-card="has-modal-card">
    <div class="modal-card" style="width: 400px">
      <b-loading :is-full-page="false" :active="loadingModal" :can-cancel="true"></b-loading>
      <!-- MAKE FORM HERE -->
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModalForm">
          {{ $t('close') }}
        </button>
        <button class="button is-primary" @click="save()">
          {{ $t('save') }}
        </button>
      </footer>
    </div>
  </b-modal>
</div>
