<div class="tile is-parent">
  <article class="tile is-child box">
    <b-field>
      <b-input :placeholder="$t('search')" type="search" icon="magnify" v-model="search"></b-input>
      <p class="control">
        <button class="button is-info" @click="find">Search</button>
      </p>
      <Can :do="permissions.CREATE_USER">
        <button class="button is-success ml-10" @click="showModal = true">{{ $t('addUser') }}</button>
      </Can>
    </b-field>
    <b-table :data="users"
             paginated
             narrowed
             :loading="loading"
             per-page="20"
             :default-sort="['id', 'desc']">
        <b-table-column field="id" label="ID" width="40" sortable numeric v-slot="props">
          {{ props.row.id }}
        </b-table-column>
        <b-table-column field="avatar" label="" width="90" v-slot="props">
          <img class="avatar-small" :src="props.row.avatar" />
        </b-table-column>
        <b-table-column field="login" label="Login" sortable v-slot="props">
          {{ props.row.login }}
        </b-table-column>
        <b-table-column field="email" label="Email" sortable v-slot="props">
          {{ props.row.email }}
        </b-table-column>
        <b-table-column field="roles" label="Roles" sortable v-slot="props">
          <b-taglist>
            <Can :do="permissions.UPDATE_USER">
            <b-tag type="is-info"
                   closable
                   @close="removeRole(props.row, role)"
                   v-for="role in props.row.roles">{{role.name}}</b-tag>
            </Can>
            <Can not :do="permissions.UPDATE_USER">
              <b-tag type="is-info" v-for="role in props.row.roles">{{role.name}}</b-tag>
            </Can>
          </b-taglist>
        </b-table-column>
        <b-table-column field="plan.name" label="plan" sortable v-slot="props">
          <span :class="color(props.row.plan.id)">
            {{ props.row.plan.name }}
          </span>
        </b-table-column>
        <b-table-column field="date" label="active_to" sortable="sortable" centered="centered" v-slot="props">
          <span class="tag" :class="type(props.row.active_to)">
            {{ new Date(props.row.active_to).toLocaleDateString() }}
          </span>
        </b-table-column>
        <b-table-column custom-key="actions" v-slot="props">
          <Can :do="permissions.UPDATE_USER">
            <button class="button is-warning is-small" @click="edit(props.row)">
              <b-icon icon="account-edit" size="is-small"></b-icon>
            </button>
          </Can>
          <Can :do="permissions.DELETE_USER">
            <button class="button is-danger is-small ml-1" @click="remove(props.row)">
              <b-icon icon="account-remove" size="is-small"></b-icon>
            </button>
          </Can>
        </b-table-column>
    </b-table>
  </article>
  <b-modal :active.sync="showModal" has-modal-card="has-modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New user</p>
      <button
        type="button"
        class="delete"
        @click="closeModal()"/>
    </header>
    <form class="modal-card" style="width: 400px" @submit.prevent="create">
      <section class="modal-card-body">
        <b-field label="Login" :type="{ 'is-danger': errors._login }" :message="errors._login">
          <b-input v-model="edited.login" type="text"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Email" :type="{ 'is-danger': errors._email }" :message="errors._email">
          <b-input type="email" v-model="edited.email"></b-input>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Password" :type="{ 'is-danger': errors._password }" :message="generatedPassword">
          <b-input type="password" v-model="edited.password" icon="magnify"></b-input>
          <p class="control">
            <button class="button is-primary" @click="generatePassword()" type="button">Generate</button>
          </p>
        </b-field>
      </section>
      <section class="modal-card-body">
        <b-field label="Roles">
          <b-checkbox v-for="role in roles" v-model="edited.roles" :native-value="role">
            {{ role.name }}
          </b-checkbox>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModal()">
          {{ $t('close') }}
        </button>
        <button class="button is-primary">
          {{ $t('save') }}
        </button>
      </footer>
    </form>
  </b-modal>
</div>
