<b-modal :active.sync="visible" @close="close" :width="960" class="w960">
  <section class="box">
    <b-loading :is-full-page="false" :active="loading" :can-cancel="true"></b-loading>
    <div class="header">
      <b-field grouped group-multiline>
        <div class="control">
          <b-taglist attached>
            <b-tag type="is-dark">Card</b-tag>
            <b-tag type="is-info">{{ editedCard.id }}</b-tag>
          </b-taglist>
        </div>
        <div class="control" v-if="editedCard.word">
          <b-taglist attached>
            <b-tag type="is-dark">Word</b-tag>
            <b-tag type="is-info">{{ editedCard.word.id }}</b-tag>
          </b-taglist>
        </div>
        <div class="control" v-if="editedCard.translate">
          <b-taglist attached>
            <b-tag type="is-dark">Translate</b-tag>
            <b-tag type="is-info">{{ editedCard.translate.id }}</b-tag>
          </b-taglist>
        </div>
      </b-field>
    </div>
    <div class="columns">
      <div class="column is-5" v-if="editedCard.word">
        <b-field label="Word">
          <b-input type="textarea"
                   placeholder="text"
                   v-model="editedCard.word.value"
                   style="width: 300px;height: 100px;" />
        </b-field>
      </div>
      <div class="column is-5" v-if="editedCard.translate">
        <b-field label="Translate">
          <b-input type="textarea"
                   placeholder="text"
                   v-model="editedCard.translate.value"
                   style="width: 300px;" />
        </b-field>
      </div>
    </div>
    <div class="example-section">
      <h2 class="subtitle is-5">
        Примеры:
        <span @click="addExample" class="button is-success pull-right">{{ $t('add') }}</span>
      </h2>
      <div>
        <ModalExampleComponent
          v-for="(item, index) in editedCard.examples"
          :item="item"
          :index="index"
          :key="item.id"
          v-on:remove="removeExample"
        >
        </ModalExampleComponent>
      </div>
    </div>
    <!--
    <div class="audio-section">
      <audio ref="audio" :src="editedCard.word.audio" preload="auto"></audio>
      <a :class="['button', 'is-small']" @click="play">
        <span class="icon">
          <i class="fa fa-volume-up"></i>
        </span>
      </a>
      <form enctype="multipart/form-data" action="" method="post" name="addAudio" ref="audioform">
        <input type="file" name="audiofile" @change="bindFile" />
        <a class="button is-success" @click="updateAudio">{{ $t('uploadAudio') }}</a>
      </form>
    </div>
    -->
    <div class="actions mt-10">
      <a class="button is-success" @click="save">{{ $t('save') }}</a>
      <a class="button is-warning" @click="close">{{ $t('cancel') }}</a>
    </div>
  </section>
</b-modal>
