<b-modal :active.sync="visible" @close="close" :width="960" class="w960">
  <div class="box">
    <div class="header">{{ card.id }} - {{ card.word.word }}</div>
    <div class="translate-section">
      <p class="control">
        <input class="input" type="text" placeholder="text" v-model="text" style="width: 490px;" />
      </p>
      <hr />
      <div class="variants">
        <h2 class="subtitle is-5">{{ $t('variants') }}</h2>
        <ul>
          <li
            v-for="word in values"
            :key="word.id"
            @click="setActive(word)"
            :class="['variant', {'is-success': word.active }]"
          >
            {{ word.value }}
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="example-section">
      <h2 class="subtitle is-5">
        Примеры:
        <button class="colorbutton red" @click="color('#e13c4c')"></button>
        #e13c4c
        <button class="colorbutton green" @click="color('#4c7737')"></button>
        #4c7737
        <button class="colorbutton blue" @click="color('#3f4bb8')"></button>
        #3f4bb8
        <span @click="addExample" class="button is-success pull-right">{{ $t('add') }}</span>
      </h2>
      <div>
        <example
          v-for="(item, index) in examples"
          :item="item"
          :index="index"
          :key="item.id"
          v-on:remove="removeExample"
        >
        </example>
      </div>
    </div>
    <hr />
    <div class="audio-section">
      <audio ref="audio" :src="card.word.audio" preload="auto"></audio>
      <a :class="['button', 'is-small']" @click="play">
        <span class="icon">
          <i class="fa fa-volume-up"></i>
        </span>
      </a>

      <form enctype="multipart/form-data" action="" method="post" name="addAudio" ref="audioform">
        <input type="file" name="audiofile" @change="bindFile" />
        <a class="button is-success" @click="updateAudio">{{ $t('uploadAudio') }}</a>
        <a class="button is-success" @click="updateTranslate">{{ $t('save') }}</a>
        <a class="button is-warning" @click="close">{{ $t('cancel') }}</a>
      </form>
    </div>
  </div>
</b-modal>
